
/* SITE WIDE */
* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

/* HEADER */
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 2px #000;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 4px;
}

header span {
    font-size: 1.2rem;
    color: #003f3f;
}

/* HAMBURGER */

.hamburger {
    background: none;
    border: none;
    color: #003f3f;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

.name {
    font-weight: bold;
}

/* NAVIGATION */

.navigation {
    display: none;
    background-color: #ccc;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: #003f3f;
    text-decoration: none;
    border-bottom: solid 2px #000;
}

.navigation li.current {
    background-color: #ddd;
}

.navigation li.current a {
    color: #003f3f;
}

.navigation li.current a:hover {
    background-color: #003f3f;
}

.navigation a:hover {
    background-color: #dc143c;
}



h1 {
    margin-left: 10px;
    margin: 1rem 10px;
    color: #003f3f;
}

/* MODAL */

dialog {
  border: 1px solid rgb(0 0 0 / 10%);
  border-radius: .25rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 3rem #777;
  width: 90%;
  max-width: 600px;
}

::backdrop {
  background-color: rgb(0 0 0 / 50%);
}

dialog button {
  position: absolute;
  top: 36px;
  right: 42px;
  padding: .5rem 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
}

/*  MAIN */

h2 {
    color: #003f3f;
    background-color: #ccc;
    text-align: center;
    /* justify-content: center; */
    margin:1rem 1rem 0 1rem;
    padding: .5rem;
}

.info {
    background-color: #eee;
    margin:0 1rem 1rem 1rem;
    padding: 1rem;
}

.picture {
    background-color: #eee;
    margin:0 1rem 1rem 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.picture img {
    width: 200px;
    height: auto;
}

.courses button {
    border: #000 1px solid;
    border-radius: 6px;
    /* width: 44px;
    height: 44px; */
    padding: 0.8rem 0 0.8rem 0;
    color: #003f3f;
}

.courses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    padding: 1rem;
    /* margin: 1rem; */
    
}

.courses .total {
    display: flex;
    grid-column: span 3;
    justify-content: center;
}

.courses button:hover {
    cursor: pointer;
    background-color: #dc143c;
}

.course-card {
    background-color: #eee;
    border: #bbb 1px solid;
    margin-top: 0.5rem;
    grid-column: span 3;
    text-align: center;
    padding: 0.5rem;
}

.course-card h3 {
    color: #003f3f;
    margin: 0.5rem auto;
}

.course-card p {
    margin: 0.4rem;
}

.school {
    font-size: 1.5rem;
    font-weight: bold;
}

/* FOOTER */

footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 15px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #dc143c;
}