@media only screen and (min-width: 64rem) {

    /* header, main, footer {
        max-width: 1100px;
        margin: 0 auto;
    } */

    /* HEADER */

    header {
        grid-template-columns: 24px auto 1fr;
        /* border-bottom: solid 1px #ccc; */
    }

    .hamburger {
        display: none;
    }

    /* nav */

    .navigation {
        display: block;
        grid-column: span 1;
    }

    .navigation ul {
        display: flex;
        justify-content: flex-end;
    }

    .navigation a {
        border: none;
    }
}